.head-shot{

    height: 150px;
    width: 150px;

}

img{

    height: 200px;
    width: 250px;
    display: block;
    margin: auto;


}

p{

    font-size: 20px;
    line-height: 35px;


}
 body{

    background-color: lightgray;


 }

#name-head{

    font-size: 30px;

}   

.footer{

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

.border-thickness{

    border-bottom: 20px darkblue;
   
   

}